
.yuva-logo {
    font-family: 'Playfair Display', serif;
    text-align: center;

}
/* 
.yuva-logo h1 {
  background: linear-gradient(90deg, #ffffff, #d4a373);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.yuva-logo span {
    font-size: 12px;
    display: block;
    margin-top: -10px;
    letter-spacing: 3px;
    color: var(--color-white);
} */